@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fonte-poppins: "Poppins", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2A363B;
  height: 100vh;
}

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  justify-self: center;
  margin-top: 50px;
  font-family: var(--fonte-poppins);
  font-size: 64px;
}