.textoInicial {
    color: white;
    font-size: 20px;
    text-align: center;
}

.Crimes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inserirCrime {
    padding: 20px 30px;
    background-color: #CF4647;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
}

.inserirCrime:hover {
    transform: scale(1.05);
    background-color: #b03b3b;
}

.crime-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 15px;
    padding: 40px;
    align-items: center;
}

.crime-card {
    background-color: #CF4647;
    border-radius: 15px;
    padding: 20px 120px;
    width: 100%;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.crime-card:hover {
    transform: scale(1.05);
    background-color: #b03b3b;
}

/* Drawer */
.drawer {
    position: fixed;
    top: 0;
    right: -100%; /* Inicialmente fora da tela */
    width: 400px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: right 0.3s ease-in-out;
}

.drawer.open {
    right: 0; /* Mostra o drawer */
}

.drawer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.drawer-content h2 {
    margin-bottom: 15px;
    color: #333333;
}

.drawer-content p {
    color: #555555;
    line-height: 1.5;
}

.drawer-content strong {
    color: #000;
}

.drawer-content select {
    padding: 10px;
    margin-bottom: 10px;
}

.drawer-content form label {
    display: block;
    margin-bottom: 10px;
}

.drawer-content form input,
.drawer-content form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.drawer-content label {
    color: black;
}

.drawer-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.drawer-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.drawer-buttons button:hover {
    transform: scale(1.05);
}

.drawer-buttons button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.drawer-buttons button[type="submit"]:hover {
    background-color: #45a049;
}

.drawer-buttons button[type="button"] {
    background-color: #F44336;
    color: white;
}

.drawer-buttons button[type="button"]:hover {
    background-color: #d73833;
}

.close-drawer {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333333;
    transition: color 0.3s, transform 0.3s;
}

.close-drawer:hover {
    color: #CF4647;
    transform: scale(1.2);
}

.crime-actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
}

.crime-actions button {
    padding: 10px;
    border: none;
    background-color: #CF4647;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
/* Estilização dos filtros */
.filtros2 {
    background-color: #f8f9fa; /* Fundo claro */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filtros2 h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.filtros2 select,
.filtros2 input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.filtros2 select {
    background-color: #fff;
    appearance: none; /* Remove o estilo padrão de dropdown */
}

.filtros2 .severidade {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filtros2 .severidade span {
    font-size: 14px;
    color: #666;
}
