@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --fonte-poppins: "Poppins", sans-serif;
}

.deleteButton {
    padding: 20px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    background-color: #CF4647;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.deleteButton:hover {
    transform: scale(1.05);
}

.editButton {
    padding: 20px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    background-color: #CF4647;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.editButton:hover {
    transform: scale(1.05);
}

.titleHero {
    font-size: 2rem;
    text-align: start;
    font-family: var(--fonte-poppins);
    color: black;
}

.infoHero {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editForms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.editForms input, textarea {
    margin-left: 20px;
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid black;
    cursor: pointer;
}

.butoesEdit {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-self: center;
    margin-top: 15px;
}

.butoesEdit button {
    padding: 10px  20px;
    border: none;
    background-color: #CF4647;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.butoesEdit button:hover {
    transform: scale(1.05);
}