.sidebar {
  width: 100px;
  background-color: #CF4647;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-right: 1px solid #000;
  transition: width 0.3s;
  border: none;
  box-shadow: 8px 2px 10px 2px black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar.expanded {
  width: 400px;
}

.sidebar-logo {
  width: 90px;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  align-self: center;
  margin: 15px 0;
}

.sidebar-menu li img {
  width: 40px;
  height: 40px;
}

img {
  cursor: pointer;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.2);
}

.sidebar-menu li span {
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  display: none;
}

.sidebar.expanded .sidebar-menu li span {
  display: inline;
  font-size: 1.5rem;
}

.abrir-menu {
  transition: transform 0.3s;
  cursor: pointer;
}

.abrir-menu:hover {
  transform: scale(1.1);
}

.sidebar.expanded .abrir-menu {
  transform: rotate(180deg);
}

.sidebar.expanded .abrir-menu:hover {
  transform: rotate(180deg) scale(1.1);
}