* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 64px;
    margin-bottom: 50px;
    text-align: center;
}

.Simulador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 30px;
}

.left-fighter, .right-fighter {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    align-items: center;
}

.left-fighter span, .right-fighter span {
    color: white;
}

.fighter-select {
    background-color: #CF4647;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 30px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.battle-button {
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    background-color: #f4c842;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.battle-button:hover {
    transform: scale(1.1);
}

.infoIcon {
    margin-top: 20px;
}

/* Estilo para o Drawer */
.drawer-container {
    width: 400px;
    background-color: #2e2e2e; /* Fundo escuro para contrastar */
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif; /* Fonte moderna */
}

.drawer-container h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #f1c40f; /* Destaque amarelo */
    margin-bottom: 10px;
}

.drawer-container p {
    font-size: 1rem;
    margin: 5px 0;
}

.drawer-container p strong {
    font-weight: bold;
    color: #f1f1f1;
}

.drawer-container button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.drawer-container button:hover {
    background-color: #c0392b;
}
